<!-- users.component.html -->

<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">User Creation</h1>
    <div class="d-flex">
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">ADD USER</button>
    </div>
  </div>
</nav>



<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>Role</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123</td>
        <td>Gowreesh</td>
        <td>Admin</td>
        <td>user123example.com</td>
        <td>********</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
      <tr>
        <td>345</td>
        <td>john_doe</td>
        <td>User</td>
        <td>john.doeexample.com</td>
        <td>********</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
      <tr>
        <td>345</td>
        <td>john_doe</td>
        <td>User</td>
        <td>john.doeexample.com</td>
        <td>********</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
      <tr>
        <td>345</td>
        <td>john_doe</td>
        <td>User</td>
        <td>john.doeexample.com</td>
        <td>********</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
      <tr>
        <td>345</td>
        <td>john_doe</td>
        <td>User</td>
        <td>john.doeexample.com</td>
        <td>********</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
